<footer>
  <h2 class="copyright-info">
    <small>
      © 2022 <span class="fade-green">Yoshiboi18303</span> |</span> <span class="fade-blue">Rocket</span> is licensed under the <a href="https://github.com/Yoshiboi18303/Rocket/blob/main/LICENSE" class="link black">GNU General Public License</a>.
    </small>
  </h2>
  <br>
  <br>
  <div class="links">
    <a href="/" class="link" rel="noreferrer">Back To Home</a>
    <a href="https://github.com/Yoshiboi18303/Rocket" class="link" target="_blank" rel="noreferrer">Source Code</a>
    <a href="https://discord.gg/AC9FfKAxAa" class="link" target="_blank" rel="noreferrer">Support Server</a>
  </div>
</footer>