<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include("includes/head", { title: "Blacklisted", key }) %>
  </head>
  <body>
    <%- include("includes/header", { req }) %>
    <br>
    <h1 class="fade-red">Blacklisted</h1>
    <br>
    <h3 class="description">Sorry! You're blacklisted from <%= message %></h3>
    <br>
    <%- include("includes/footer") %>
  </body>
</html>