<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include("includes/head", { title: "Blacklisted" }) %>
  </head>
  <body>
    <%- include("includes/header", { req }) %>
    <br>
    <img src="/static/img/nope.png" alt="X" class="small-image"><h1> Blacklisted </h1><img src="/static/img/nope.png" alt="X" class="small-image">
    <br>
    <h3 class="description">Sorry! You're blacklisted from both the bot and the website!</h3>
  </body>
</html>