<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include("includes/head", { title: "Features", key }) %>
  </head>
  <body>
    <%- include("includes/header", { req }) %>
    <br>
    <img src="/static/img/icon.png" alt="Rocket's Avatar" class="avatar">
    <h1>Features</h1>
    <h3 class="description">Here are all the features of Rocket!</h3>
    <br>
    <br>
    <img src="/static/img/ranks.png" alt="Image Showing Ranks Feature" class="feature-left">
    <br>
    <br>
    <br>
    <br>
    <h2 class="feature-title">Ranks</h2>
    <h3 class="description">Brag about your rank to your friends!</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="/static/img/welcome-system.gif" alt="Welcome System GIF" class="feature-right">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 class="feature-title fade-green">Welcome System</h2>
    <h3 class="description">Say hello to your new members in a stylish manner!</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="/static/img/music-system.gif" alt="Music System GIF" class="feature-left">
    <br>
    <br>
    <br>
    <br>
    <h2 class="feature-title fade-darkblue">Music System</h2>
    <h3 class="description">Listen to your favorite music from <span class="youtube-text-red">You</span><span class="youtube-text-white">Tube</span>, <span class="soundcloud-text">SoundCloud</span>, <span class="spotify-text">Spotify</span> and your files!</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="/static/img/warning-roles.gif" alt="Warning Roles GIF" class="feature-right">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 class="feature-title fade-red">Warning Roles</h2>
    <h3 class="description">Telling people this member is dangerous in your guild has never been easier!</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="/static/img/purge-system.gif" alt="Purge System GIF" class="feature-left">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 class="feature-title fade-red">Purge System</h2>
    <h3 class="description">Ensuring your server is clear of bad stuff is easy with Rocket's purging system, you can purge messages from the channel (without any user filter), or with a user filter which will remove that amount of messages from that user in your channel!</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include("includes/footer") %>
  </body>
</html>