<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include("includes/head", { title: "Features" }) %>
  </head>
  <body>
    <%- include("includes/header", { req }) %>
    <br>
    <img src="/static/img/icon.png" alt="Rocket-Conomy's Avatar" class="avatar">
    <h1>Features</h1>
    <h3 class="description">Here are all the features of Rocket-Conomy!</h3>
    <br>
    <br>
    <img src="/static/img/ranks.png" alt="Image Showing Ranks Feature" class="feature-left">
    <br>
    <br>
    <br>
    <br>
    <h2 class="feature-title">Ranks</h1>
    <h3 class="description">Brag about your rank to your friends!</h3>
    <br>
    <img src="/static/img/icon.png" alt="Placeholder Icon" class="feature-right avatar">
    <br>
    <br>
    <br>
    <br>
    <h2 class="feature-title">Dashboard</h2>
    <h3 class="description">Quirky Description coming soon</h3>
  </body>
</html>