<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include("includes/head", { title: "Home" }) %>
  </head>
  <body>
    <%- include("includes/header", { req }) %>
    <br>
    <img src="/static/img/icon.png" alt="Rocket-Conomy's Avatar" class="avatar">
    <h1>Rocket-Conomy</h1>
    <h3 class="description">An Economy bot with a Rocket League twist!</h3>
    <br>
    <div class="buttons">
      <button class="btn" onclick="location.href='https://bit.ly/3lbKv8l'"><img src="/static/img/discord.png" alt="Discord Icon" class="dc-icon"><h5>Invite</h5></button>
      <button class="btn" onclick="location.href='/features'"><h5>Features</h5></button>
      <button class="btn" onclick="location.href='/owner'"><h5>Owner</h5></button>
      <button class="btn" onclick="location.href='/report'"><h5>Report</h5></button>
    </div>
    <br>
    <%- include("includes/footer") %>
  </body>
</html>