<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include("includes/head", { title: "Ticket Transcript", key }) %>
  </head>
  <body>
    <%- include("includes/header", { req }) %>
    <br>
    <img src="/static/img/icon.png" alt="Rocket's Avatar" class="avatar">
    <h1>Ticket Transcript</h1>
    <h3 class="description">Here's the transcript for the ticket you requested!</h3>
    <br>
    <br>
    <div class="transcript">
      <br>
      <code>
        <% for(var item of array) { %>
          <p class="transcript"><%= item %></p>
          <br>
        <% } %>
      </code>
    </div>
    <br>
    <br>
    <%- include("includes/footer") %>
  </body>
</html>
